.chad {
  background-color: #1f2937;
  height: 500px;
  width: fit-content;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: flex-start;
  color: #e5e7eb;
  font-size: 45px;
  /* padding-top: 25px; */
  padding-left: 100px;
}

.hero-section {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  flex-direction: column;
}

.hero-parent {
  align-items: center;
  display: flex;
  padding-top: 75px;
  justify-content: center;
}

.main-title {
  font-size: xx-large;
  font-weight: bold;
  color: #e5e7eb;
  padding-bottom: 25px;
}
.main-text {
  color: #f9faf8;
  font-weight: bolder;
  size: 48;
  /* align-self */
}

.hero-picture {
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding-right: 100px;
}

.nav-bar {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  padding-right: 100px;
}

.info-box {
  padding-left: 100px;
  padding-right: 100px;
  height: 150px;
  padding-bottom: 100px;
}
.information-header {
  color: #1f2937;
  font-size: 25px;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  padding-top: 15px;
  padding-bottom: 10px;
}

.info-section {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.rounded-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #3882f6;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100px;
  margin-top: 50px;
}

.rounded-button:hover {
  background-color: #3882f6;
}

.box {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quote-section {
  display: flex;
  font-style: italic;

  background-color: #e5e7eb;
  font-size: 24px;
  font-weight: bolder;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
}

.action-box {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blu-box {
  width: 1000px;
  height: 50px;
  background-color: #3882f6;
  padding: 20px;
}

.footer {
  background-color: #1f2937;
  height: 23px;
}

.footer-text {
  color: #e5e7eb;
  display: flex;
  justify-content: center;
}
